*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body, h2, button{
    font-family:'Courier New', Courier, monospace;
}
body{
    background-color: #f6f6f6;
}
.box{
    display:flex;
    justify-content: space-around;
}
.person{
    width:45%;
    background-color:#fff;
    border:1px solid #000;
    margin:20px 0;
    padding:10px;
    border-radius: 5px;
    text-align: center;
}
.person .progress {
    width:100%;
    background-color: #888;
    height:30px;
}
.person .progress span{
    display:block;
    width:100%;
    height:100%;
    background-color: #008000;
}
.person h2 {
    font-size:30px;
    margin:20px 0;
}
.person img{
    width:200px;
    height:200px;
    margin:10px auto;
    display:block;
}
.person button{
    width:150px;
    padding:10px;
    cursor:pointer;
    background-color:#000;
    color:#fff;
    font-size:20px;
    margin:20px 0;
}